<template>
    <div class="wrapper">

        <div class="main main-raised messages-section">
            <div class="section">
                <div class="messages-title">
                    <h3>Add Contact</h3>
                </div>
                <div>
                    <form novalidate @submit.prevent="addContact">
                        <md-card class="md-layout-item add-form">
                            <md-card-content>
                                <div class="md-layout md-gutter">
                                    <div class="md-layout-item md-small-size-100">
                                        <md-field>
                                            <label for="name">Name</label>
                                            <md-input name="name" id="name" autocomplete="given-name"
                                                      v-model="form.name" :disabled="sending"/>
                                        </md-field>
                                    </div>
                                </div>

                                <div class="md-layout md-gutter">
                                    <div class="md-layout-item md-small-size-100">
                                        <md-field>
                                            <label for="relationship">Relationship</label>
                                            <md-select name="relationship" id="relationship" v-model="form.relationship"
                                                       md-dense
                                                       :disabled="sending">
                                                <md-option></md-option>
                                                <md-option value="Mother">Mother</md-option>
                                                <md-option value="Father">Father</md-option>
                                                <md-option value="Son">Son</md-option>
                                                <md-option value="Daughter">Daughter</md-option>
                                                <md-option value="Carer">Carer</md-option>
                                            </md-select>
                                            <span class="md-error">The relationship is required</span>
                                        </md-field>
                                    </div>
                                </div>

                                <md-field :class="''">
                                    <label for="number">Phone Number</label>
                                    <md-input name="number" id="number" v-model="form.number" :disabled="sending"/>
                                </md-field>
                            </md-card-content>

                            <md-progress-bar md-mode="indeterminate" v-if="sending"/>

                            <md-card-actions class="create-user-button">
                                <md-button type="submit" class="md-primary" :disabled="sending">Add Contact!</md-button>
                            </md-card-actions>
                        </md-card>

                        <md-snackbar :md-active.sync="userSaved">The user {{ lastUser }} was saved with success!
                        </md-snackbar>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {addUserContact} from '../../utils/messagingService'


    export default {
        components: {},
        name: 'index',
        bodyClass: 'index-page',
        props: {},
        data() {
            return {
                form: {
                    name: '',
                    relationship: '',
                    number: '',
                },
                userSaved: false,
                sending: false,
                lastUser: null,
                userToken: null
            };
        },
        methods: {
            addContact() {
                this.userToken = localStorage.getItem('token');

                addUserContact(this.form.name, this.form.relationship, this.form.number, this.userToken).then((response) => {
                    console.log(response);
                    this.$swal('Added new contact!')
                }).catch((e) => {
                    console.log(e);
                    this.$swal('Failed to add, please check your details and try again.')
                })
            }
        },
        computed: {},
        mounted() {
        }
    };
</script>
<style lang="scss" scoped>
    .section-download {
        .md-button + .md-button {
            margin-left: 5px;
        }
    }

    @media all and (min-width: 991px) {
        .btn-container {
            display: flex;
        }
    }

    .messages-title {
        text-align: center;
    }

    .contacts-heading {
        text-align: left !important;
    }

    .md-list {
        width: 100%;
        max-width: 100%;
        display: inline-block;
        vertical-align: top;
        border: 1px solid rgba(#000, .12);
    }

    .messaging-span-text {
        position: relative !important;
        text-align: left !important;
    }

    .add-contacts-section {
        position: fixed;
        bottom: 0;
    }

    .wrapper, .messages-section {
    }

    .contact-list-item {
        padding: 5px;
    }

    .contact-lists {
        max-height: 400px;
        overflow-y: scroll;
    }

    .contact-list-details {
        position: absolute;
        margin-left: 15%;
        float: left;
        margin-top: 3%;
    }

    .add-contact-button {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .add-form {
        box-shadow: none !important;
    }

</style>
