<template>
    <div class="wrapper">

        <div class="main main-raised messages-section">
            <div class="section">
                <div class="messages-title">
                    <h3>Messages</h3>
                </div>
                <md-toolbar class="md-dense md-primary" :md-elevation="1">
                    <span class="contacts-heading">Contacts</span>
                </md-toolbar>
                <div class="contact-lists">
                    <md-list>
                        <md-list-item class="contact-list-item" v-for="person in contacts">
                            <router-link :to="{name: 'sendMessage', params: { person: person }}">
                                <div>
                                    <md-avatar>
                                        <img :src="require('../../assets/img/faces/marc.jpg')" alt="Avatar">
                                    </md-avatar>
                                </div>
                                <div class="contact-list-details">
                                    <h5 class="messaging-span-text">{{person.name}}</h5>
                                    <p class="personal-relationship">{{person.relationship}}</p>
                                </div>
                            </router-link>
                        </md-list-item>
                    </md-list>
                </div>
                <router-link :to="{name: 'addContact'}">
                    <div class="add-contact-button">
                        <md-button class="md-primary">Add Contact</md-button>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import BasicElements from '../components/BasicElementsSection';
    import Navigation from '../components/NavigationSection';
    import SmallNavigation from '../components/SmallNavigationSection';
    import Tabs from '../components/TabsSection';
    import NavPills from '../components/NavPillsSection';
    import Notifications from '../components/NotificationsSection';
    import TypographyImages from '../components/TypographyImagesSection';
    import JavascriptComponents from '../components/JavascriptComponentsSection';

    import {getContacts} from '../../utils/messagingService'

    export default {
        components: {
            BasicElements,
            Navigation,
            SmallNavigation,
            Tabs,
            NavPills,
            Notifications,
            TypographyImages,
            JavascriptComponents,
        },
        name: 'index',
        bodyClass: 'index-page',
        props: {},
        data() {
            return {
                contacts: [
                    {
                        id: '1',
                        name: 'Person 1',
                        image: require('../../assets/img/faces/marc.jpg'),
                        relationship: 'mother'
                    }
                ],
                userToken: null

            };
        },
        methods: {},
        computed: {},
        mounted() {
            this.userToken = localStorage.getItem('token');
            getContacts(this.userToken).then((response) => {
                this.contacts = response.data
            })
        }
    };
</script>
<style lang="scss" scoped>
    .section-download {
        .md-button + .md-button {
            margin-left: 5px;
        }
    }

    @media all and (min-width: 991px) {
        .btn-container {
            display: flex;
        }
    }

    .messages-title {
        text-align: center;
    }

    .contacts-heading {
        text-align: left !important;
    }

    .md-list {
        width: 100%;
        max-width: 100%;
        display: inline-block;
        vertical-align: top;
        border: 1px solid rgba(#000, .12);
    }

    .messaging-span-text {
        position: relative !important;
        text-align: left !important;
        margin-bottom: 0;
    }

    .add-contacts-section {
        position: fixed;
        bottom: 0;
    }

    .wrapper, .messages-section {
        height: 99%;
    }

    .contact-list-item {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        background-color: #F0F4F8;
        margin: 10px 10px;
        border-radius: 10px;
    }

    .contact-lists {
        max-height: 400px;
        overflow-y: scroll;
    }

    .contact-list-details {
        padding-left: 15px;
    }

    .add-contact-button {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .personal-relationship{
        opacity: 0.6;
    }
</style>

