<template>
    <div class="wrapper">
        <div class="main main-raised messages-section">
            <div class="section">
                <div class="messages-title">
                    <h3>Send Message</h3>
                    <p>{{person.name}}</p>
                    <md-avatar>
                        <img :src="require('../../assets/img/faces/marc.jpg')" alt="Avatar">
                    </md-avatar>
                </div>
                <div class="contact-lists">
                    <md-list>
                        <h5 class="message-send-title">Click on a message to send!</h5>
                        <div v-for="message in presetMessages">
                        <md-list-item class="main-list-item-container">
                            <div class="preset-message-item contact-list-item"
                                 @click="sendPresetMessage(message)"
                            >
                                <div class=" box3 sb13" :class="{ active: hovered }">
                                    <span class="messaging-span-text">{{message}}</span>
                                </div>
                            </div>
                        </md-list-item>

                        </div>
                    </md-list>
                </div>
                <div class="custom-message-container">
                    <div class="custom-message-input">
                        <md-field>
                            <label>Custom Message</label>
                            <md-input v-model="customMessage"></md-input>
                        </md-field>
                    </div>
                    <div class="send-message-button">
                        <md-button class="md-primary" @click="sendCustomMessage">Send</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {sendMessageToContact} from '../../utils/messagingService'

    export default {
        components: {},
        name: 'index',
        bodyClass: 'index-page',
        props: {},
        data() {
            return {
                presetMessages: [
                    'Can you call me when you are free?',
                    'Please come over, I need some help',
                    'I am feeling well today',
                    'I am feeling unwell today'
                ],
                person: {},
                customMessage: '',
                hovered: false,
            };
        },
        methods: {
            hoverCall(){
               console.log('called')
            },
            sendPresetMessage(text) {
                sendMessageToContact(this.person._id, text).then((response) => {
                    console.log(response);
                    if (response.status === 200) {
                        this.$swal('Message was sent!').then(function () {
                            window.location = '/';
                        });
                    }
                }).catch((error) => {
                    console.log(error);
                    this.$swal('Message failed to send, please try again.')
                })
            },
            sendCustomMessage() {
                sendMessageToContact(this.person._id, this.customMessage).then((response) => {
                    console.log(response);
                    if (response.status === 200) {
                        this.$swal('Message was sent!').then(function () {
                            window.location = '/';
                        });
                    }
                }).catch((error) => {
                    console.log(error);
                    this.$swal('Message failed to send, please try again.')
                })
            }
        },
        computed: {},
        mounted() {
            this.person = this.$route.params.person;
        }
    };
</script>
<style lang="scss" scoped>
    .section-download {
        .md-button + .md-button {
            margin-left: 5px;
        }
    }

    @media all and (min-width: 991px) {
        .btn-container {
            display: flex;
        }
    }

    .messages-title {
        text-align: center;
    }

    .contacts-heading {
        text-align: left !important;
    }

    .md-list {
        width: 100%;
        max-width: 100%;
        display: inline-block;
        vertical-align: top;
        border: 1px solid rgba(#000, .12);
    }

    .messaging-span-text {
        position: relative !important;
        text-align: left !important;
    }

    .wrapper, .messages-section {
        height: 99%;
    }

    .contact-lists {
        max-height: 400px;
        overflow-y: scroll;
    }

    .box3 {
        width: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 15px;
        background: #60C3FF;
        color: #fff;
        padding: 20px;
        text-align: right;
        font-weight: 900;
        font-size: 13px;
        font-family: arial;
        position: relative;
    }

    .sb13:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-left: 15px solid #60C3FF;
        border-right: 15px solid transparent;
        border-top: 15px solid #60C3FF;
        border-bottom: 15px solid transparent;
        right: -16px;
        top: 0;
    }

    .custom-message-container {
        display: inline-flex;
        flex-wrap: wrap;
        position: absolute;
        bottom: 0;
    }

    .custom-message-input {
        flex-grow: 3;
        padding-left: 30px;
    }

    .send-message-button {
        flex-grow: 1;
        padding-left: 30px;
    }

    .main-list-item-container{
        cursor: pointer;
    }


    .active {
        background: green !important;
    }

    .message-send-title{
        padding-left: 15px;
    }

</style>