<template>
  <div class="wrapper">
    <div class="section page-header header-filter">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto"
          >
            <login-card header-color="blue">
              <h4 slot="title" class="card-title">Login</h4>

              <md-field class="md-form-group" slot="inputs">
                <md-icon>email</md-icon>
                <label>Email...</label>
                <md-input v-model="email" type="email"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>lock_outline</md-icon>
                <label>Password...</label>
                <md-input type="password" v-model="password"></md-input>
              </md-field>
              <md-button @click="postLogin" slot="footer" class="md-simple md-success md-lg">
                Login
              </md-button>
            </login-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LoginCard } from "@/components";
import { loginUser} from '../utils/authService';

export default {
  components: {
    LoginCard
  },
  bodyClass: "login-page",
  data() {
    return {
      email: null,
      password: null
    };
  },
  props: {
  },
  computed: {
  },
  methods: {
    postLogin (){
      loginUser(this.email, this.password).then((response) => {
        if(response) {
          localStorage.setItem('token', response.data.userId);
          this.$router.push({name: "index"})
        }
      }).catch ((e) => {
          this.$swal('Failed to login')
      })
    }
  }
};
</script>

<style lang="css">
  .md-card-header-blue{
    background-color: #007ea7 !important;
  }
</style>
