<template>
    <div class="wrapper">

        <div class="main main-raised messages-section">
            <div class="section">
                <div class="banking-title">
                    <h3>Banking</h3>
                </div>
                <md-toolbar class="md-dense md-primary" :md-elevation="1">
                    <span class="balance-heading">Balance</span>
                    <span class="balance-amount">£{{accountBalance}}</span>
                </md-toolbar>

                <div class="transactions">
                    <h4 class="transactions-header">Transactions</h4>
                    <md-list class="">
                        <md-list-item class="transaction-list-item" v-for="transaction in transactions">
                            <div class="transaction-date">
                                {{getTime(transaction.timestamp)}}
                            </div>
                            <div v-if="transaction.status === 'Successful'" class="transaction-date success">
                                {{transaction.status}}
                            </div>
                            <div v-else class="transaction-date decline">
                                {{transaction.status}}
                            </div>
                            <div class="transaction-amount">
                                £{{transaction.amount}}
                            </div>
                        </md-list-item>
                    </md-list>
                </div>

                <div class="banking-buttons">
                    <router-link :to="{name: 'savings'}">
                    <div class="bank-button"> <md-button class="md-raised md-primary bank-button-width">My Savings</md-button></div>
                    </router-link>
                    <router-link :to="{name: 'sendPayment'}">
                    <div class="bank-button"><md-button class="md-raised md-primary bank-button-width">Send Money</md-button></div>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {getTransactions} from '../../utils/transactionService';
import {getAccountBalance} from '../../utils/bankService';

export default {
        components: {},
        name: 'banking',
        bodyClass: 'index-page',
        props: {},
        data() {
            return {
                transactions: [],
                userToken: null,
                accountBalance: 0
            };
        },
        methods: {
            getTime (d){
                let a = new Date(d);
                let months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
                let year = a.getFullYear();
                let month = months[a.getMonth()];
                let date = a.getDate();
                let hour = a.getHours();
                let min = a.getMinutes();
                let sec = a.getSeconds();
                let time = date + ' ' + month + ' ' + year ;
                return time;
            }
        },
        computed: {},
        mounted() {
            this.userToken = localStorage.getItem('token');
            getAccountBalance(this.userToken).then((response) => {
                console.log(response);
                this.accountBalance = response.data.balance
            });

            getTransactions(this.userToken).then((response) => {
                console.log(response);
                this.transactions = response.data;
            });
        }
    };
</script>
<style lang="scss" scoped>

    .banking-title {
        text-align: center;
    }

    .balance-heading {
        position: absolute;
        left: 0;
        padding-left: 15px;
    }

    .balance-amount {
        position: absolute;
        right: 0;
        padding-right: 15px;
    }

    .wrapper, .main {
        height: 99%;
    }

    .transaction-list-item {
        background-color: #F0F4F8;
        margin: 2px 5px;
        border-radius: 10px;
    }

    .contact-lists{
        max-height: 350px;
        overflow-y: scroll;
    }

    .transactions-header {
        padding-left: 10px;
    }

    .banking-buttons {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 0;
        margin-bottom: 50px;
    }

    .bank-button{
        text-align: center;
        border-radius: 5px;
    }

    .bank-button-width{
        width: 300px
    }

    .success{
        color: limegreen !important;
    }

    .decline{
        color: red !important;
    }

    .transaction-list{
        /*overflow-x: scroll;*/
        /*height: 260px;*/
    }
    .transactions{
        overflow-y: scroll;
        height: 290px;
    }
</style>

