<template>
    <div class="wrapper">

        <div class="main main-raised messages-section">
            <div class="section">
                <div class="savings-title">
                    <h3>Savings</h3>
                </div>
                <md-toolbar class="md-dense md-primary" :md-elevation="1">
                    <span class="balance-heading">Savings Balance</span>
                    <span class="balance-amount">£{{savingBalance}}</span>
                </md-toolbar>

                <div class="tip-list">
                    <h4 class="tips-header">Banking Tips</h4>
                    <md-list>
                        <md-list-item class="transaction-list-item" @click="showSavingDialog = true">
                            <div class="transaction-date">
                                <md-dialog :md-active.sync="showSavingDialog">
                                    <md-dialog-title>Tips for saving money</md-dialog-title>
                                    <md-tab md-label="General">
                                        <p>1. Organise a free overdraft</p>
                                        <p>2. Use price comparison websites</p>
                                        <p>3. Sign up for loyalty cards</p>
                                        <p>4. Write a list before you go shopping – and stick to it.</p>
                                        <md-dialog-actions>
                                            <md-button class="md-primary" @click="showSavingDialog = false">Close
                                            </md-button>
                                        </md-dialog-actions>
                                    </md-tab>
                                </md-dialog>
                                Tips for saving money
                            </div>
                        </md-list-item>
                        <md-list-item @click="showFAQDialog = true" class="transaction-list-item">
                            <div class="transaction-date">
                                <md-dialog :md-active.sync="showFAQDialog">
                                    <md-dialog-title>FAQ</md-dialog-title>
                                    <md-tab md-label="General">
                                        <p><b>What would the estimated balance be after 12 months based on a £1,000
                                            deposit?</b>
                                            <br/>
                                            A £1,000 deposit would be worth £1,008.00 after 12 months, if the current
                                            interest rate stayed the same during the 12 months.

                                            This is an illustration only, so it doesn’t take into account your
                                            individual circumstances. It assumes that you don’t make any withdrawals or
                                            additional deposits during the year. <br/> <br/>

                                            <b>How do I open and manage my account?</b> <br/>

                                            Our Investment Account is for customers aged 16 or over. You can open an
                                            account in your own name or jointly with one other person. An account can
                                            also be opened for a child under 16 by their parent, guardian, grandparent.
                                            You can also invest in trust for someone else. </p>
                                        <md-dialog-actions>
                                            <md-button class="md-primary" @click="showFAQDialog = false">Close
                                            </md-button>
                                        </md-dialog-actions>
                                    </md-tab>
                                </md-dialog>
                                Saving account FAQ
                            </div>
                        </md-list-item>
                        <md-list-item @click="showFraudDialog = true" class="transaction-list-item">
                            <div class="transaction-date">
                                <md-dialog :md-active.sync="showFraudDialog">
                                    <md-dialog-title>How to combat fraudulent activity</md-dialog-title>
                                    <md-tab md-label="General">
                                        <p><b>Before you buy</b>
                                            <br/>
                                            Before you buy anything online, make a note of the address, telephone number
                                            and any other contact details of the company or seller that you're buying
                                            from. Don't rely only on an email address. <br/> <br/>

                                            <b>Always use secure sites</b> <br/>

                                            If a site is secure it will have 'https' in the web address. This shows that
                                            the company has been independently checked to make sure they are who they
                                            say they are.
                                            A yellow padlock symbol in the browser window shows the payment process is
                                            secure.
                                        </p>
                                        <md-dialog-actions>
                                            <md-button class="md-primary" @click="showFraudDialog = false">Close
                                            </md-button>
                                        </md-dialog-actions>
                                    </md-tab>
                                </md-dialog>
                                How to combat fraudulent activity
                            </div>
                        </md-list-item>
                    </md-list>
                </div>

                <div class="banking-buttons">
                    <div class="bank-button">
                        <md-button class="md-raised md-primary bank-button-width" @click="showPotDialog = true">
                            Add To Pot
                        </md-button>
                        <md-button class="md-raised md-primary bank-button-width"
                                   @click="showTransferOutPotDialog = true">
                            Transfer out of pot
                        </md-button>
                        <md-dialog :md-active.sync="showPotDialog">
                            <md-dialog-title>Add to your savings</md-dialog-title>
                            <md-tab md-label="General">
                                <md-toolbar class="md-dense md-primary" :md-elevation="1">
                                    <span class="balance-heading">Personal Account</span>
                                    <span class="balance-amount">£{{accountBalance}}</span>
                                </md-toolbar>
                                <p>Here is some text to add in with regards to details about transferring.</p>

                                <md-field class="transfer-amount-field">
                                    <label>Amount</label>
                                    <md-input v-model="inAmount" type="number" name="number" id="number"/>
                                </md-field>
                                <md-dialog-actions class="savings-transfer-buttons">
                                    <md-button class="md-primary" @click="showPotDialog = false">Cancel</md-button>
                                    <md-button class="md-primary" @click="moneyIntoSavings">Send!</md-button>
                                </md-dialog-actions>
                            </md-tab>
                        </md-dialog>
                        <md-dialog :md-active.sync="showTransferOutPotDialog">
                            <md-dialog-title>Move money to your main account</md-dialog-title>
                            <md-tab md-label="General">
                                <md-toolbar class="md-dense md-primary" :md-elevation="1">
                                    <span class="balance-heading">Savings Account</span>
                                    <span class="balance-amount">£{{savingBalance}}</span>
                                </md-toolbar>
                                <p>Here is some text to add in with regards to details about transferring.</p>

                                <md-field class="transfer-amount-field">
                                    <label>Amount</label>
                                    <md-input v-model="outAmount" type="number" name="number" id="outnumber"/>
                                </md-field>
                                <md-dialog-actions class="savings-transfer-buttons">
                                    <md-button class="md-primary" @click="showTransferOutPotDialog = false">Cancel
                                    </md-button>
                                    <md-button class="md-primary" @click="moneyOutOfSavings">Send!</md-button>
                                </md-dialog-actions>
                            </md-tab>
                        </md-dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {sendMoneyToSavings, sendMoneyToAccount, getSavingBalance, getAccountBalance} from '../../utils/bankService';

    export default {
        components: {},
        name: 'banking',
        bodyClass: 'index-page',
        props: {},
        data() {
            return {
                showFAQDialog: false,
                showSavingDialog: false,
                showPotDialog: false,
                showFraudDialog: false,
                showTransferOutPotDialog: false,
                outAmount: 0,
                inAmount: 0,
                userToken: null,
                savingBalance: 0,
                accountBalance: 0,
            };
        },
        methods: {
            moneyIntoSavings() {
                sendMoneyToSavings(this.userToken, this.inAmount).then((response) => {
                    console.log(response);
                    this.accountBalance = response.data.balance;
                    this.getSavingTotal();
                    this.$swal('Money sent! You should receive a confirmation text soon!').then(function () {
                        window.location = '/banking';
                    });
                })
            },
            moneyOutOfSavings() {
                sendMoneyToAccount(this.userToken, this.outAmount).then((response) => {
                    console.log(response);
                    this.savingBalance = response.data.balance;
                    this.getAccountTotal();
                    this.$swal('Money sent! You should receive a confirmation text soon!').then(function () {
                        window.location = '/banking';
                    });
                }).catch((e) => {
                    console.log(e);
                })
            },
            getSavingTotal() {
                getSavingBalance(this.userToken).then((response) => {
                    console.log(response);
                    if (response.data.balance > 0) {
                        this.savingBalance = response.data.balance
                    }
                }).catch((e) => {
                    console.log(e);
                })
            },
            getAccountTotal() {
                getAccountBalance(this.userToken).then((response) => {
                    console.log(response);
                    if (response.data.balance > 0) {
                        this.accountBalance = response.data.balance
                    }
                }).catch((e) => {
                    console.log(e);
                });
            }
        },
        computed: {},
        mounted() {
            this.userToken = localStorage.getItem('token');
            this.getSavingTotal();
            this.getAccountTotal();
        }
    };
</script>
<style lang="scss" scoped>

    .savings-title {
        text-align: center;
    }

    .balance-heading {
        position: absolute;
        left: 0;
        padding-left: 15px;
    }

    .balance-amount {
        position: absolute;
        right: 0;
        padding-right: 15px;
    }

    .wrapper, .main {
        height: 99%;
    }

    .transaction-list-item {
        background-color: #F0F4F8;
        margin: 5px 8px;
        border-radius: 10px;
    }

    .tips-header {
        padding-left: 10px;
        padding-top: 50px;
    }


    .bank-button {
        text-align: center;
        border-radius: 5px;
    }

    .bank-button-width {
        width: 300px
    }

    .transfer-amount-field {
        position: absolute;
        bottom: 100px;
        width: 95%;
    }

    .savings-transfer-buttons {
        position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin-bottom: 30px;
    }

    .banking-buttons {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 0;
        margin-bottom: 50px;
    }
</style>


