<template>
    <div class="wrapper">

        <div class="main main-raised messages-section">
            <div class="section">
                <div class="send-payment-title">
                    <h3>Send Payment</h3>
                </div>
                <md-toolbar class="md-dense md-primary" :md-elevation="1">
                    <span class="balance-heading">Balance</span>
                    <span class="balance-amount">£{{accountBalance}}</span>
                </md-toolbar>
                <div>
                    <md-field class="person-dropdown">
                        <label for="person">Receiver</label>
                        <md-select name="person" id="person" md-dense v-model="selectedPerson">
                            <md-option v-for="person in people" :value="person.name">{{person.name}}</md-option>
                        </md-select>
                        <span class="md-error">A person is required</span>
                    </md-field>
                </div>
                <md-field class="amount-field">
                    <label>Amount</label>
                    <md-input v-model="amount" type="number" name="number" id="outnumber"/>
                </md-field>
                <div class="banking-buttons">
                    <div class="bank-button">
                        <md-button class="md-raised md-primary bank-button-width" @click="openPaymentModal">Send Payment
                        </md-button>
                        <md-dialog :md-active.sync="showPaymentDialog">
                            <md-dialog-title>Are you sure?</md-dialog-title>
                            <md-tab md-label="General">
                                <h3>The Risk Factor for {{selectedPerson}} is {{person.risk}}</h3>
                                <br>
                                <h4>Please check before sending any money</h4>
                                <br/>
                                <h5>If you are unsure, please contact us immediately at: 01800 9999999</h5>
                                <md-dialog-actions class="transfer-buttons">
                                    <md-button class="md-primary" @click="showPaymentDialog = false">Cancel</md-button>
                                    <md-button class="md-primary" @click="sendPayment">Send!</md-button>
                                </md-dialog-actions>
                            </md-tab>
                        </md-dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {getAccountBalance, sendMoneyToPayee} from '../../utils/bankService';

    export default {
        components: {},
        name: 'banking',
        bodyClass: 'index-page',
        props: {},
        data() {
            return {
                people: [
                    {id: '1', name: 'James Doncaster', risk: '80', sortCode: '525252', accountNumber: '294012401'},
                    {id: '2', name: 'Emily Dickinson', risk: '20', sortCode: '525252', accountNumber: '294012401'},
                    {id: '3', name: 'Adam West', risk: '50,', sortCode: '525252', accountNumber: '294012401'},
                    {id: '4', name: 'Jack Scully', risk: '10', sortCode: '525252', accountNumber: '294012401'},
                ],
                showPaymentDialog: false,
                selectedPerson: 'James Doncaster',
                accountBalance: 0,
                userToken: null,
                person: {},
                amount: 0
            };
        },
        methods: {
            sendPayment() {
                sendMoneyToPayee(
                    this.userToken,
                    this.amount,
                    this.person.sortCode,
                    this.person.accountNumber,
                    this.person.name).then((response) => {
                    console.log(response);
                    this.$swal('Money was sent! You should receive a confirmation text soon!').then(function () {
                        window.location = '/banking';
                    });
                }).catch((e) => {
                    console.log(e)
                })
            },
            getAccountTotal() {
                getAccountBalance(this.userToken).then((response) => {
                    console.log(response);
                    if (response.data.balance > 0) {
                        this.accountBalance = response.data.balance
                    }
                }).catch((e) => {
                    console.log(e);
                });
            },
            openPaymentModal() {
                let result = this.people.filter(obj => {
                    return obj.name === this.selectedPerson;
                });
                this.person = result[0];
                if (this.person.risk > 55) {
                    this.showPaymentDialog = true;
                } else {
                    this.sendPayment();
                }
            }
        },
        computed: {},
        mounted() {
            this.userToken = localStorage.getItem('token');
            this.getAccountTotal()
        }
    };
</script>
<style lang="scss" scoped>

    .send-payment-title {
        text-align: center;
    }

    .balance-heading {
        position: absolute;
        left: 0;
        padding-left: 15px;
    }

    .balance-amount {
        position: absolute;
        right: 0;
        padding-right: 15px;
    }

    .wrapper, .main {
        height: 99%;
    }

    .transaction-list-item {
        background-color: #F0F4F8;
        margin: 2px 5px;
        border-radius: 10px;
    }

    .transactions-header {
        padding-left: 10px;
    }

    .banking-buttons {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 0;
        margin-bottom: 50px;
    }

    .bank-button {
        text-align: center;
        border-radius: 5px;
    }

    .bank-button-width {
        width: 300px
    }

    .person-dropdown {
        margin-top: 50px;
        width: 95%;
        margin-left: 10px;
    }

    .transfer-buttons {
        position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin-bottom: 30px;
    }

    .amount-field {
        width: 90%;
        margin-left: 5%;
    }
</style>

