<template>
    <div id="material-kit">
        <div class="main-section">
            <router-view/>
        </div>
        <router-view class="footer" name="footer"/>
    </div>
</template>

<style>
    #material-kit {
        height: 100%
    }

    .main-section{
        height: 100%;
    }

    .footer{
        width: 100%;
    }
</style>
