<template>
    <div class="wrapper">

        <div class="main main-raised messages-section">
            <div class="section">
                <div class="messages-title">
                    <h3>Add Reminder</h3>
                </div>
                <div>
                    <form novalidate @submit.prevent="addAReminder">
                        <md-card class="md-layout-item add-form">
                            <md-card-content>
                                <div class="md-layout md-gutter">
                                    <div class="md-layout-item md-small-size-100">
                                        <md-field>
                                            <label for="name">Text</label>
                                            <md-input name="text" id="text" v-model="form.text" :disabled="sending"/>
                                        </md-field>
                                    </div>
                                </div>

                                <div class="md-layout md-gutter">
                                    <div class="md-layout-item md-small-size-100">
                                        <md-field>
                                            <label for="hour">Hour</label>
                                            <md-input name="hour" id="hour" autocomplete="given-name"
                                                      v-model="form.hour" :disabled="sending"/>
                                        </md-field>
                                    </div>
                                </div>


                                <md-field :class="''">
                                    <label for="minute">Minute</label>
                                    <md-input name="minute" id="minute" v-model="form.minute" :disabled="sending"/>
                                </md-field>
                            </md-card-content>

                            <md-progress-bar md-mode="indeterminate" v-if="sending"/>

                            <md-card-actions class="create-user-button">
                                <md-button type="submit" class="md-primary" :disabled="sending">Add Reminder!
                                </md-button>
                            </md-card-actions>
                        </md-card>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {addReminder} from '../../utils/reminderService';

    export default {
        components: {},
        name: 'index',
        bodyClass: 'index-page',
        props: {},
        data() {
            return {
                form: {
                    text: '',
                    hour: '',
                    minute: '',
                },
                userSaved: false,
                sending: false,
                lastUser: null,
                userToken: null
            };
        },
        methods: {
            addAReminder() {
                this.userToken = localStorage.getItem('token');
                addReminder(this.userToken, this.form.text, this.form.hour, this.form.minute).then((response) => {
                    console.log(response);
                    this.$swal('Added new reminder!').then(function () {
                        window.location = '/reminders';
                    });
                }).catch((e) => {
                    console.log(e);
                    this.$swal('Failed to add, please check your details and try again.')
                })
            }
        },
        computed: {},
        mounted() {
        }
    };
</script>
<style lang="scss" scoped>
    .section-download {
        .md-button + .md-button {
            margin-left: 5px;
        }
    }

    @media all and (min-width: 991px) {
        .btn-container {
            display: flex;
        }
    }

    .messages-title {
        text-align: center;
    }

    .contacts-heading {
        text-align: left !important;
    }

    .md-list {
        width: 100%;
        max-width: 100%;
        display: inline-block;
        vertical-align: top;
        border: 1px solid rgba(#000, .12);
    }

    .messaging-span-text {
        position: relative !important;
        text-align: left !important;
    }

    .add-contacts-section {
        position: fixed;
        bottom: 0;
    }

    .wrapper, .messages-section {
    }

    .contact-list-item {
        padding: 5px;
    }

    .contact-lists {
        max-height: 400px;
        overflow-y: scroll;
    }

    .contact-list-details {
        position: absolute;
        margin-left: 15%;
        float: left;
        margin-top: 3%;
    }

    .add-contact-button {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .add-form {
        box-shadow: none !important;
    }

</style>
