<template>
    <div class="wrapper">

        <div class="main main-raised messages-section">
            <div class="section">
                <div class="banking-title">
                    <h3>Reminders</h3>
                </div>

                <div class="transaction-list">
                    <h4 class="transactions-header">Your Reminders</h4>
                    <md-list>
                        <md-list-item class="transaction-list-item" v-for="reminder in reminders">
                            <div class="transaction-date"> 
                                {{reminder.text}}
                            </div>

                            <div class="transaction-amount">
                                {{reminder.hour+":"+reminder.minute}}
                            </div>
                        </md-list-item>
                    </md-list>
                </div>

                <div class="banking-buttons">
                    <router-link :to="{name: 'addReminder'}">
                    <div class="bank-button"> <md-button class="md-raised md-primary bank-button-width">Add Reminder</md-button></div>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {getReminders} from '../../utils/reminderService';

export default {
        components: {},
        name: 'banking',
        bodyClass: 'index-page',
        props: {},
        data() {
            return {
                reminders: [],
                userToken: null,
                accountBalance: 0
            };
        },
        methods: {
            getTime (d){
                let a = new Date(d);
                let months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
                let year = a.getFullYear();
                let month = months[a.getMonth()];
                let date = a.getDate();
                let hour = a.getHours();
                let min = a.getMinutes();
                let sec = a.getSeconds();
                let time = date + ' ' + month + ' ' + year ;
                return time;
            }
        },
        computed: {},
        mounted() {
            this.userToken = localStorage.getItem('token');
            getReminders(this.userToken).then((response) => {
                console.log(response);
                this.reminders = response.data
            });
        }
    };
</script>
<style lang="scss" scoped>

    .banking-title {
        text-align: center;
    }

    .balance-heading {
        position: absolute;
        left: 0;
        padding-left: 15px;
    }

    .balance-amount {
        position: absolute;
        right: 0;
        padding-right: 15px;
    }

    .wrapper, .main {
        height: 99%;
    }

    .transaction-list-item {
        background-color: #F0F4F8;
        margin: 2px 5px;
        border-radius: 10px;
    }

    .transactions-header {
        padding-left: 10px;
    }

    .banking-buttons {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 0;
        margin-bottom: 50px;
    }

    .bank-button{
        text-align: center;
        border-radius: 5px;
    }

    .bank-button-width{
        width: 300px
    }

    .success{
        color: limegreen !important;
    }

    .decline{
        color: red !important;
    }
</style>

