<template>
    <footer
            class="footer"
            :class="{ [`footer-${type}`]: type }"
            :data-background-color="backgroundColor"
    >
        <div class="container">
            <div class="phone-viewport">
                <md-bottom-bar md-type="fixed" class="backgroundColour">
                    <router-link :to="{name: 'index'}">
                    <md-bottom-bar-item class="button-tab" md-label="Messages" md-icon="chat_bubble" @click="theme = 'teal'"></md-bottom-bar-item>
                    </router-link>
                    <router-link :to="{name: 'banking'}">
                    <md-bottom-bar-item  class="button-tab"  md-label="Banking" md-icon="pages"
                                        @click="theme = 'orange'"></md-bottom-bar-item>
                    </router-link>
                    <router-link :to="{name: 'reminders'}">
                    <md-bottom-bar-item  class="button-tab"  md-label="Reminders" md-icon="favorite"
                                        @click="theme = 'red'"></md-bottom-bar-item>
                    </router-link>
                </md-bottom-bar>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'ChangingThemes',
        data: () => ({
            theme: 'teal'
        })
    }
</script>

<style lang="scss" scoped>
    .phone-viewport {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        display: inline-flex;
        align-items: flex-end;
        overflow: hidden;
        border: 1px solid rgba(#000, .26);
        background: rgba(#000, .06);

    }

    .backgroundColour {
        background-color: #979797 !important;
    }

    .button-tab{
    }
</style>

